<body>
    <div class="container bg-blue-900 p-12 mx-auto border-8">
    <div style="margin-left:auto;margin-right: auto;max-width: 50%; height: 8cm ">
        <a href="" class="btn-custom"></a>

    <img src="assets/parte3.jpg" alt="PAGINACOLEGIO-parte3" class="border-8"> 
    <h1 class="text-6x1 text-black text-center">Foto. Profesores de la unidad educativa</h1>
    </div>

    <div class="bg-blue-500 m-6 p-12 mx-auto flex rounded-xl">

        <div class="bg-gray-400 m-10 p-15 border-blue-200 border-4 rounded-xl">
            <img src="assets/33.jpg" alt="PAGINACOLEGIO-parte3" class="border-8">
            <h1 class="text-6x1 tex-white text-center">Familiares de la hermana Maria</h1>
        </div>

        <div class="bg-gray-400 m-10 p-15 border-blue-200 border-4 rounded-xl">
            <img src="assets/formacion.jpg" alt="PAGINACOLEGIO-parte3" class="border-8">
            <h1 class="text-6x1 tex-white text-center">Evento civico</h1>
        </div>

        <div class="bg-gray-400 m-10 p-15 border-blue-200 border-4 rounded-xl">
            <img src="assets/333.jpg" alt="PAGINACOLEGIO-parte3" class="border-8">
            <h1 class="text-6x1 tex-white text-center">Celebraciòn a la Virgen</h1>
        </div>


    </div>
    </div>
</body>

