<header class="tema1 bg-blue-400 p-3 rounded-xl">
    <section class="filoo-disc ml-8">
    
        <ul class="flex space-x-4">
            <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
               <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">INICIO</a></li></button>
              <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
            <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">GALERIA</a></li></button>
            <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
            <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">QUIENES SOMOS</a></li></button>
            <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
            <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">AULA VIRTUAL</a></li></button>
            <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
            <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">CONTACTENOS</a></li> </button>
            <button class="bg-white text-sky-500 font-bold py-1 px-1 rounded">
            <li><a href="#" class="hover:underline" style="text-align: center; font-weight: bold;">DOCUMENTOS</a></li></button>
        </ul>
    </section>                                      
</header>