    
    <main class=" bg-blue-900 p-2"> 

        <img src="assets/tema001.jpeg" alt="PAGINACOLEGIO-parte1" class="h-19 w-14 rounded-full"> 
        
      <div class="w-96 h-44 text-black text-2xl font-normal font-['Kalam']">UNIDAD EDUCATIVA” MADRE LAURA”</div>
        <h1 class=" text-center text-black text-6x1 font-bold inset-x-0 top-0 h-16">"No hay dias malos,ni horas,ni lugares fijos para la enseñanza.Todo lo señala la oprtunidad.
            Lo mismo se enseña domingo que lunes;en la mañana que en la noche
            en el salon,qu en patio,en la trincah, que el bohio,en la cocina 
        .
        Todo es aprovechar las oprtunidades de los discipulos.</h1>
      

    </main>


    <header class=" bg-blue-300 p-1 ">
        <div style="margin-left:auto;margin-right: auto;max-width: 50%; height: 4,1cm; ">
            <img src="assets/titulooo.jpg" alt="PAGINACOLEGIO-parte1" class=""> 
        </div>
        </header>
  

    
        