<footer id="footer" class="clear"> 
    
  

    <div class="one_third">

      <address class="text-center text-black text-3x0 font-bold inset-x- top-0 h-10">
     <div>
        <b>Unidad Educativa Madre Laura
        </b><br><br>
        Avenida 6 de Noviembre y Cueva Celi
        <br>
        Santo Domingo, Ecuador   
    </div>

      <br>
      <i class="fa fa-phone pright-10"></i>
        Telf: (593) 22742-280
        <br>
        Fax: (593) 22742-280
        <br>
      
      </address>

    </div>
   
    
